body{
    background-color: rgb(22, 17, 17);
    color: #ffffff
}

h1{
    text-align: center;
}

p{
     border:1px solid rgb(247, 246, 246);
     
}

 p,h1, h2{
    color: rgb(113, 113, 146);
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif; 
   
    

}
.oi{
color: rgb(2, 0, 128);
text-align: center;
background-color: rgb(68, 63, 63);

}

.ii{ 
    color: aqua;
    text-align: right;
}

 a{
    text-decoration: none;
 }



 table {

    border: 1px solid black;

}

th, td {
    text-align: left;
    padding: 8px;
  }
 
  .th {
    color: black;
    background-color: rgb(202, 200, 200);
     
 }
 
  tr:nth-child(2n+2) {
    background-color: #c1fb01;
    color: black;
  }

  tr:nth-child(2n+3) {
    background-color: #02ee0e;
  }
  
  .kmm {
    border: 20px #000000;
    border-collapse: collapse;
   
  }
  .m{
    background-color:blue;
  }
  .mn{
    background-color:rgb(255, 0, 0);
  }

  .mnm{
    background-color: rgb(0, 0, 0);
  }